*{
    font-family: sans-serif;
}
/* banner */
.banner{
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    height: 808px;
    width: 1600px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 200px;
}

.banner-title{
    font-size: 65px;
    color: #ffffff;
    width: 525px;
    text-align: right;
}

.banner-description{
    font-size: 16px;
    color: #ffffff;
    width: 494px;
    text-align: right;
    line-height: 26px;
}

/* button */
.button-primary{
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #005FAC;
}

.button-subscribe{
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: 1px solid #005FAC;
    border-radius: 5px;
    color: #ffffff;
    background-color: #005FAC;
}

/* failure */
.failure{
    padding: 50px 230px;
    display: flex;
    align-items: center;
}

.failure img{
    padding-right: 43px;
}

.failure-content{
    padding-left: 43px;
}

.failure-content h2{
    font-size: 40px;
    width: 288px;
    text-align: left;
}

.failure-content p{
    font-size: 16px;
    width: 416px;
    text-align: left;
}

.failure-content ul{
    padding-left: 15px;
    list-style-image: url('images/tick.png');
}

.failure-content ul>li{
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding-left: 2px;
}

/* plan */
.plan{
    padding: 50px 230px;
}

.plan-heading{
    text-align: center;
    font-size: 40px;
}

.plan-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* positive */
.positive{
    margin-top: 100px;
    margin-bottom: 100px;
    background: url('images/watch.png'),  url('images/gradient1.png');
    background-blend-mode: multiply;
    height: 300px;
    width: 1110px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.positive-content{
    padding: 60px;
    width: 459px;
}

.positive-content h1{
    font-size: 40px;
    color: #ffffff;
}

.positive2{
    margin-top: 100px;
    margin-bottom: 100px;
    background: url('images/img2.jpg'), url('images/gradient3.png');
    background-blend-mode: multiply;
    height: 300px;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 8px;
}

.positive2-content{
    padding: 60px;
    width: 459px;
    text-align: right;
}

.positive2-content h1{
    font-size: 40px;
    color: #ffffff;
}

/* footer */
footer{
    height: 577px;
    background-color: #151414;
    display: flex;
    align-items: center;
}

.feature{
    padding: 30px 230px;
    color: #fff;
    width: 485px;
}

.feature h1{
    font-size: 45px;
}

.describe{
    line-height: 26px;
    margin-bottom: 24px;
}

.email{
    margin-bottom: 16px;
}

.subscribe{
    padding: 30px 230px;
    color: #ffffff;
}

.subscribe h1{
    font-size: 25px;
    margin-bottom: 31px;
}

.subscribe input{
    margin-bottom: 16px;
    padding: 13px;
    width: 250px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.icon{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.icon img{
    height: 24px;
    width: 24px;
}




